::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: #6ea9e0;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background: #508bcc; }

body {
  background: url(../images/istockphoto-680906456-170667a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  position: relative; }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100px;
  margin: 10 auto;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 1px 15px 5px black;
  padding: 10px;
  margin-top: 30px; }
  .header__logo {
    display: flex; }
    .header__logo--image {
      height: 80px;
      align-self: center; }
  .header__title {
    font-family: 'Roboto Slab';
    font-size: 30px;
    color: #6ea9e0; }
  .header__buttons--login {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #6ea9e0;
    font-size: 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.582);
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase; }
    .header__buttons--login:hover {
      transform: translateY(-5px);
      color: #a6d538;
      border: 2px solid #d7e60b; }

.section {
  margin-top: 150px; }

.search {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .search__title {
    color: #ffffff91;
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
    font-family: 'Roboto Slab'; }
  .search__form {
    display: flex; }
    .search__form--input {
      font-family: 'Courier New', Courier, monospace;
      font-weight: 100;
      width: 350px;
      font-size: 30px;
      padding: 10px;
      border: none;
      border-radius: 20px 0px 0px 20px;
      background-color: #ffffff3b;
      padding-left: 20px;
      color: white; }
      .search__form--input::placeholder {
        color: rgba(144, 227, 255, 0.347); }
      .search__form--input:focus {
        outline: none;
        border: none; }
    .search__form--btn {
      font-family: 'Courier New', Courier, monospace;
      font-size: 30px;
      border-radius: 0 20px 20px 0;
      border: none;
      background-color: #479dffc6;
      color: #fff;
      font-weight: 200;
      cursor: pointer; }

.section-weather {
  margin-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center; }

.weather-card {
  width: 500px;
  background-color: rgba(211, 166, 166, 0.309);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: #5f5233;
  backdrop-filter: blur(15px);
  box-shadow: 0px 2px 10px 5px white; }
  .weather-card__title {
    width: 80%;
    text-align: center;
    border-bottom: 2px solid black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    padding: 10px; }
  .weather-card__temperature {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace; }
  .weather-card__cloud {
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace; }
  .weather-card__feelsLike {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center; }

@keyframes errorAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.errorMessage {
  display: none;
  background: red;
  width: 450px;
  text-align: center;
  margin: 10px auto;
  font-size: 25px;
  border-radius: 5px;
  animation: errorAnimation 0.5s ease-out; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
