::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: #6ea9e0;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background: #508bcc; }

body {
  background: url(../images/istockphoto-680906456-170667a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  position: relative; }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100px;
  margin: 10 auto;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 1px 15px 5px black;
  padding: 10px;
  margin-top: 30px; }
  .header__logo {
    display: flex; }
    .header__logo--image {
      height: 80px;
      align-self: center; }
  .header__title {
    font-family: 'Roboto Slab';
    font-size: 30px;
    color: #6ea9e0; }
  .header__buttons--login {
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #6ea9e0;
    font-size: 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.582);
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase; }
    .header__buttons--login:hover {
      transform: translateY(-5px);
      color: #a6d538;
      border: 2px solid #d7e60b; }

#signUpMessage {
  display: block;
  width: 85%;
  text-align: center;
  margin: 10% auto;
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  background: #4c9499ad;
  color: rgba(124, 210, 70, 0.989);
  padding: 10px;
  border-radius: 20px; }

.section {
  margin-top: 150px;
  display: none; }

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .search__title {
    color: #ffffff91;
    font-size: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 45px;
    text-align: center;
    font-family: 'Roboto Slab'; }
  .search__form {
    display: flex; }
    .search__form--input {
      font-family: 'Courier New', Courier, monospace;
      font-weight: 100;
      width: 350px;
      font-size: 30px;
      padding: 10px;
      border: none;
      border-radius: 20px 0px 0px 20px;
      background: rgba(75, 72, 72, 0.653);
      padding-left: 20px;
      color: white; }
      .search__form--input::placeholder {
        color: rgba(144, 227, 255, 0.347); }
      .search__form--input:focus {
        outline: none;
        border: none; }
    .search__form--btn {
      font-family: 'Courier New', Courier, monospace;
      font-size: 30px;
      border-radius: 0 20px 20px 0;
      border: none;
      background-color: #479dffc6;
      color: #fff;
      font-weight: 200;
      cursor: pointer; }

.section-weather {
  margin-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center; }

.weather-card {
  width: 500px;
  background-color: rgba(211, 166, 166, 0.309);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: #5f5233;
  backdrop-filter: blur(15px);
  box-shadow: 0px 2px 10px 5px white; }
  .weather-card__title {
    width: 80%;
    text-align: center;
    border-bottom: 2px solid black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    padding: 10px; }
  .weather-card__temperature {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace; }
  .weather-card__cloud {
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace; }
  .weather-card__feelsLike {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center; }

@keyframes errorAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    /* Start small and transparent */ }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    /* End at full size and opacity */ } }

.error-message {
  display: none;
  position: absolute;
  top: 105%;
  left: 50;
  visibility: visible;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 50%;
  text-align: center; }

.error-message.active {
  visibility: visible; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.667);
  overflow: auto;
  backdrop-filter: blur(10px);
  color: #b5ef42;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight: 300; }
  .modal__content {
    background-color: #007bff11;
    margin: 10% auto;
    padding: 20px;
    width: 600px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center; }
    .modal__content__close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer; }

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form__label {
    margin-top: 10px;
    color: #007bff;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace; }
  .form__input {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px; }
  .form__button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer; }

/* Center the modal on small screens */
@media screen and (max-width: 600px) {
  .modal__content {
    width: 90%; } }

.username {
  display: none;
  color: #b5ef42;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  border-bottom: 1px solid black; }
