//// EMPTY INNPUT MESSAGE /////

.error-message {
  display: none;
  position: absolute;
  top: 105%;
  left: 50;
  visibility: visible;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.error-message.active {
  visibility: visible;
}
