//// EMPTY INNPUT MESSAGE /////
.errorMessage {
  visibility: visible;
  width: 450px;
  text-align: center;
  background: red;
  margin: 10px auto;
  font-size: 25px;
  border-radius: 5px;
  animation: errorAnimation 0.5s ease-out;
}
