//error animation
@keyframes errorAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5); /* Start small and transparent */
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* End at full size and opacity */
  }
}
